div {
  background-color: grey
  color: white;
  padding: 25px;
  text-align: center;
}
#myHeader {
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}
.tekst {
	color: black;
	font-family: Helvetica;
	font-size: 20px;
	margin: 10px;
  	padding: 10px;
	
}
.przedmiot {
  	    color: blue;
  	    margin: 5px;
  	    padding: 5px;
}

a:link {
	color: blue;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
 	   color: purple;
  	   background-color: transparent;
  	   text-decoration: none;
}
a:hover {
  	 color: blue;
  	 background-color: transparent;
  	 text-decoration: underline;
}
a:active {
  	  color: blue;
  	  background-color: transparent;
  	  text-decoration: underline;
}
table, th, td {
		border:1px solid black;
		border-collapse: collapse;
		border-spacing: 30px;
}
th, td {	
	background-color: #a0a0a0;
}
tr{
	text-align:center;
}
body {
   	padding: 0px;
    	margin: 0px;
    	font-family: Lato, sans-serif;
    	font-size: 14px;
    	color: rgb(26, 26, 26);
    	height: 100%;
    	box-sizing: border-box;
    	text-size-adjust: 100%;
    	text-align: left;
    	background-image: url('images/backgroundimage_2.JPG');
}
h1{
	text-align: center;
	padding: 20px;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333333;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 16px;
  	text-decoration: none;
}

li a:hover {
 	background-color: #111111;
}